<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University Website Design  </title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,700;1,600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/all.min.css">
</head>
<body>
     {{!-- header --}}
 
    
    <!-- Course -->

    
        <section class="course">
           
             <h1>Courses We Offer</h1>
             <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit</p>
       <div class="row">
        <div class="course-col">
           <h3>Intermediate</h3>
           <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga ipsam aut temporibus sunt modi aliquid,
                saepe itaque asperiores iure ex consequuntur, tenetur laudantium.
           </p>
        </div>
           <div class="course-col">
            <h3>Degree </h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga ipsam aut temporibus sunt modi aliquid,
                 saepe itaque asperiores iure ex consequuntur, tenetur laudantium.
            </p>
        </div>
    
        <div class="course-col">
            <h3>Post Graduation</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga ipsam aut temporibus sunt modi aliquid,
                 saepe itaque asperiores iure ex consequuntur, tenetur laudantium.
            </p>
        </div>
       </div>
      
         </section>
                          <!-- CAmpus -->

         <section class="campus">
            <h1>Our Global CAmpus</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
     
           <div class="ow">
               <div class="campus-col">
                   <img src="images/london.png">
                   <div class="layer">
                       <h3>London</h3>
                   </div>
               </div>
     
               <div class="campus-col">
                 <img src="images/newyork.png">
                 <div class="layer">
                     <h3>New York</h3>
                 </div>
             </div>
     
             <div class="campus-col">
                 <img src="images/washington.png">
                 <div class="layer">
                     <h3>WASHINGTON</h3>
                 </div>
             </div>
           </div>
     
        </section>

           <!-- facilites -->

           <section class="faci">
               <h1>Our Facilites</h1>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
               </p>
               <div class="ow">
                   <div class="faci-col">
                       <img src="images/library.png">
                       <h3>World Class Library</h3>
                       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                           Deserunt beatae ipsa numquam.</p>
                   </div>

                   <div class="faci-col">
                    <img src="images/basketball.png">
                    <h3>Largest Play-Ground</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Deserunt beatae ipsa numquam.</p>
                </div>

                <div class="faci-col">
                    <img src="images/cafeteria.png">
                    <h3>Tasty and Healthy Food</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Deserunt beatae ipsa numquam.</p>
                </div>
               </div>
           </section>

           <!-- Testimonials -->
           <section class="testi">
               <h1>What Our Students Says</h1>
               <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
               </p>

               <div class="ow">
                  <div class="testi-col">
                      <img src="images/user1.jpg" >
                      <div>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim dolorem ipsum debitis,
                               corrupti aliquam maxime inventore aperiam totam odit. Doloremque?
                               dolor sit amet consectetur adipisicing elit</p>
                             <h3>Christline Barley</h3> 
                             <i class="fas fa-star"></i>
                             <i class="fas fa-star"></i>
                             <i class="fas fa-star"></i>
                             <i class="fas fa-star"></i>
                             <i class="far fa-star-half"></i>
                            
                            </div>
                  </div>

                  <div class="testi-col">
                    <img src="images/user2.jpg" >
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim dolorem ipsum debitis,
                             corrupti aliquam maxime inventore aperiam totam odit. Doloremque?
                             dolor sit amet consectetur adipisicing elit</p>
                           <h3>Robert Frozen</h3> 
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star-half-alt"></i>
                          </div>
                </div>
               </div>
           </section>
           <!-- call to Action -->
           <section class="cta">
               <h1>Enroll For Our various online courses <br> anywhere 
                   from the world
               </h1>
               <a href="#" class="hero-btn">Contact Us</a>
           </section>
<!-- 
           footer -->

           <section class="footer">
               <h4>About us</h4>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias itaque expedita <br> maiores, adipisci odit voluptatem,
                    quaerat quod sunt dolor consectetur voluptas magnam
                    sit amet consectetur adipisicing .</p>
                    <div class="icons">
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-linkedin"></i>
                <p>Made with <i class="far fa-heart"></i> by Ayesha-Razzaq</p>
                       </div> 
                </section>
          




    <!-- Javascript for toggler menu -->
    <script>
  var navLinks = document.getElementById('navLinks');
       function showMenu() {
           
           navLinks.style.right = '0px';
       }
       function hideMenu() {
           navLinks.style.right =" -200px"
       }
    </script>
</body>
</html>